<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/diseño.css">
    <title>Laboratorista</title>
</head>
<body>
    <section class="form-register">
        <input class="control" type="text" name="Nombre" id="primer Nombre" placeholder="Ingrese el primer Nombre">
        <input class="control" type="text" name="Nombre" id="segundo nombre" placeholder="Ingrese el segundo nombre">
        <input class="control" type="text" name="Apellido" id="primer Apellido" placeholder="Ingrese el primer Apellido">
        <input class="control" type="text" name="Apellido" id="segundo Apellido" placeholder="ingrese el segundo apellido">
        <input class="control" type="text" name="Edad" id="Ingrese la edad" placeholder="Ingrese la Edad">
        <input class="boton" type="submit" value="Registrar">
        <input class="boton" type="submit" value="Editar">
        <input class="boton" type="submit" value="Eliminar">
    
    </section>
</body>
</html>