<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/css/estiloLogin.css">
    <title>Login</title>
</head>
<body>
    <div class="login">
        <img class="logo" src="/imagenes/Logo.png" alt="Logo inicio de sesion">
        <h1>Login Usuario</h1>
        <form id="formulario">
            <!-- Usuario -->
            <label for="username">Nombre de Usuario</label>
            <input type="text" id="username" placeholder="Ingrese Usuario">
            
            <!-- Contraseña-->
            <label for="pasword" >Pasword</label>
            <input type="password" id="contraseña" placeholder="Ingrese Contraseña">
            <input type="button" onclick="mostrarDatos()" value="Iniciar"> 
            <a href="#">Olvide mi contraseña</a>
        </form>
    </div>
    <script type="text/javascript" src="/javaScript/Login.js"></script>
</body>
</html>